

.media-object {
  width: 40px;
}
.media{
/*   border-top: 1px solid #dedede;  */
  border-bottom: 1px solid #dedede;
  position: relative;
}



.remove-icon{
  position: absolute;
  right: 20px;
  top: -3px;
  color: #ccc;
  font-weight: normal;
  font-size: 13px;
  padding: 6px;
  cursor: pointer;
}

.tweet-delete-success{
  opacity: 0;
  position: fixed;
  width: 50%;
  left: 50%;
  top: 0px;
  z-index: 10000;
  transform: translateX(-50%);
  transition: all 1.8s ease;
}

.tweet-delete-success.show{
  opacity: 1;
}